* {
    margin:0%;
    padding: 0%;

    
    
    
    
   
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./sphn.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  
}




 .wrapper input {
     font-size:small;
    padding-top: 0.5em;
    padding-left: 0.5em; 
    padding-bottom: 0.5em;
     padding-right: 0.5em;
    margin: 10px;
    cursor: pointer;
    background-color:rgb(201, 240, 221);
    width: 690px;
    transform: translate(50%, 50%); 
    /* border-radius: 20%; */
    /* display: flex; */
} 



